@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'NAMU-1910';
    src: url('../fonts/NAMU-1910.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NAMU-1960';
    src: url('../fonts/NAMU-1960.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Orienta';
    src: url('../fonts/Orienta-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cassandra';
    src: url('../fonts/Cassandra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@layer base {
    html {
        @apply scroll-smooth font-body text-secondary;
    }

    body{
        @apply bg-background text-secondary;
    }

    body > div{
        @apply w-full overflow-hidden
    }

    h2 {
        @apply text-5xl sm:text-6xl lg:text-8xl xl:text-h2 font-namu-title xl:leading-tight;
    }

    h3 {
        @apply text-2xl lg:text-h3 font-namu-title;
    }

    h4 {
        @apply text-lg font-namu-title;
    }
}

@layer components {
    .stroke-text{
        @apply text-secondary;
        -webkit-text-fill-color: theme('colors.background.DEFAULT'); /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color:theme('colors.secondary.DEFAULT') ;
    }
    .btn{
        @apply bg-primary text-base px-6 py-3 text-white font-namu-body flex items-center justify-center w-fit rounded hover:bg-secondary-light transition-all
    }

    .red-square{
        @apply border border-primary absolute
    }

    .body-text-namu{
        @apply font-namu-body text-base lg:text-xl lg:leading-8
    }

    .quote-text{
        @apply font-cassandra text-2xl sm:text-3xl xl:text-[34px] xl:leading-tight
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .scroller {
        scrollbar-color: theme('colors.secondary.light');
        scrollbar-width: thin;
    }

    .scroller::-webkit-scrollbar {
        @apply w-1.5 h-1.5;
    }

    .scroller::-webkit-scrollbar-track {
        @apply bg-transparent;
    }

    .scroller::-webkit-scrollbar-thumb {
        @apply rounded-full bg-gray-300 hover:bg-gray-400;
    }

    .input{
        @apply border rounded border-secondary text-base bg-transparent px-5 py-2.5;
    }
    .input::placeholder{
        @apply text-secondary opacity-30;
    }
}


#taras-section-bg {
    clip-path: url(#svgPath-1);
}

#taras-section-bg-wrapper {
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1)) url(#shadow-in) url(#shadow-in);
}

#simonenko-section-bg {
    clip-path: url(#svgPath-2);
}

#simonenko-section-bg-wrapper {
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1)) url(#shadow-in) url(#shadow-in);
}
